
<mat-sidenav-container fxLayout="row" fxLayoutAlign="start stretch" >
                <div fxLayout="column" fxflex="20%" style ="max-width: 25%;">
        <!-- <mat-sidenav #sidenav mode="side">
                <mat-nav-list fxLayout="row" class="example-sidenav" role="navigation">             
                <p mat-list-item> Notes</p>
                <p mat-list-item> Remainder</p>
                <p mat-list-item>  Edit Labels</p>
                <p mat-list-item>  Archive</p>
                <p mat-list-item>  Trash</p>
                </mat-nav-list>
        </mat-sidenav> -->
        
        </div>
        <div fxflex="80%">
        <!-- <mat-sidenav-content>
                        <button mat-raised-button (click)="sidenav.toggle()">toggle</button>
                        <p>sgw</p>
                        <p>sgw</p>
                        <p>sgw</p>
                        <p>sgw</p>
                        <p>sgw</p>
        </mat-sidenav-content> -->      
        </div>   
</mat-sidenav-container>
