.example-container {
  min-width: 1300px;
    min-height: 600px;
  border: 0px solid rgba(255, 255, 255);
}

.example-sidenav {
  padding: 20px;
}

/*.example-card{
  margin-top: 50px;
   margin-left: 300px;
  max-width: 500px; 
}*/

.clear{
  outline: none;
}

.mat-input-element {
  /* caret-color: #673ab7; */
  width: 471px;
  height: 59px;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

textarea { 
  resize: none; 
}
.xyz{
  resize: none
}

.mat-input-underline {
  display: none;
}

.noteclass{
  max-height: 400px;
  overflow-y: auto; 
  
}