<mat-sidenav-container class="example-container" autosize >
                <mat-sidenav #sidenav  class="example-sidenav" mode="side"  disableClose >
                   <mat-action-list>
                      <button mat-list-item> Notes </button>
                      <button mat-list-item> Remainder </button>
                      <mat-divider ></mat-divider>
                      <h6 style="font-size:65%;" matSubheader >LABELS</h6>
                      <button mat-list-item> Edit Labels </button>
                      <mat-divider></mat-divider>
                      <button mat-list-item> Archive </button>
                      <button mat-list-item> Trash </button>             
                   </mat-action-list>
                </mat-sidenav>

                <mat-sidenav-content>
                   <div fxLayout="row">
                      <div fxLayoutAlign="center center" fxLayoutAlign.xs="start center" fxFlexFill>
                         <mat-card class="example-card">
                            <mat-card-content >
                               <input  matInput placeholder="Title" style="margin-left:20px;" [(ngModel)]="title">       
                               <div class ="noteclass" contenteditable="true"  data-placeholder='Enter some text' style="margin-left:20px;" 
                               [textContent]="content" (input)="content=$event.target.textContent">
                               </div>
                               <div fxLayout="row" >
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        add_alert
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        person_add
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        palette
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        add_photo_alternate
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        archive
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        more_vert
                                     </mat-icon>
                                  </button>
                                  <div style="margin-left: 200px;"> 
                                     <button mat-icon-button (click)="saveNote()" >Close
                                     </button>
                                  </div>
                               </div>
                            </mat-card-content>
                         </mat-card>
                      </div>

                      <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">
                          <mat-card *ngFor="let multicar of multicard">
                                    <mat-card-title>{{multicar.title}}</mat-card-title>
                                    <mat-card-subtitle>{{multicar.content}}</mat-card-subtitle>
                                    <mat-card-content >
                                    <div fxLayout="row" >
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        add_alert
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        person_add
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        palette
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        add_photo_alternate
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        archive
                                     </mat-icon>
                                  </button>
                                  <button mat-icon-button>
                                     <mat-icon aria-label="Example icon-button with a heart icon">
                                        more_vert
                                     </mat-icon>
                                  </button>
                                  <div style="margin-left: 200px;"> 
                                     <button mat-icon-button (click)="saveNote()" >Close
                                     </button>
                                  </div>
                                  </div>
                                 </mat-card-content>     
                          </mat-card>
                        </div> -->
                   </div>
                </mat-sidenav-content>
             </mat-sidenav-container>