

<div *ngIf="(allnotes).length == 0" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="40%">

  <p class="textsize">No archived notes 
  </p> 
  <i class="material-icons " style="font-size: 90px;" >archive</i>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlexOffset="10%" fxLayoutGap=" 20px grid">

<div *ngIf="(allnotes).length > 0">
  <div *ngFor ="let note of allnotes">
            
        <app-singlecard [notedetails]=note>

        </app-singlecard>
  </div>
</div>
</div>