

<div *ngIf="currentView" fxLayout="row wrap" fxLayoutAlign="start center" fxFlexOffset="200px" fxLayoutGap=" 20px grid" style="overflow: hidden;">
  
  <div *ngFor ="let note of allnotes">
            
        <app-singlecard [notedetails]=note>

        </app-singlecard>
  </div>
</div>

<div *ngIf="!currentView" fxLayout="column wrap" fxLayoutAlign="start center" fxFlexOffset="200px" fxLayoutGap=" 20px grid">
  
    <div *ngFor ="let note of allnotes">
              
          <app-singlecard [notedetails]=note>
  
          </app-singlecard>
    </div>
  </div>