<mat-toolbar class="backgcolor">
<mat-toolbar-row>
   
    <div fxLayoutAlign="start center" fxFlex="1 1 20%">
        <button mat-button (click)="onClick()">
            <mat-icon>menu</mat-icon>
          </button>
      <!-- <a>
       <img src='../../../keep.jpeg' alt="Keep Image" style="width:40px;height:40px"> 
    </a> -->
        <span> Fundoo Notes</span>
      </div>
        <div fxFlex="1 1 80%" fxLayoutAlign="end stretch" fxLayoutGap.xs="1px"> 
          <button mat-icon-button><mat-icon>refresh</mat-icon></button>
          <button mat-icon-button ><mat-icon>view_agenda </mat-icon></button>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Setting</button>
              <button mat-menu-item>SendFeedBack</button>
              <button mat-menu-item>Help</button>
              </mat-menu> 
              
          <button mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>arrow_drop_down</mat-icon></button>
          <mat-menu #menu2="matMenu">
               <button mat-menu-item>SignOut</button>
         </mat-menu>
       </div>
  </mat-toolbar-row>
</mat-toolbar>

