<mat-toolbar class="backgcolor">
<mat-toolbar-row>
   
    <div fxLayoutAlign="start center" fxFlex="1 1 20%">
        <button mat-button>
            <mat-icon>menu</mat-icon>
          </button>
      <a>
       <img src='../../../keep.jpeg' alt="Keep Image" style="width:40px;height:40px"> 
    </a>
        <span> Fundoo Notes</span>
      </div>
        <div fxFlex="1 1 80%" fxLayoutAlign="end stretch" fxLayoutGap.xs="1px"> 
          <button mat-button class=iconsize><mat-icon>refresh</mat-icon></button>
          <button mat-button class=iconsize><mat-icon>apps</mat-icon></button>
          <button mat-button class=iconsize><mat-icon>settings</mat-icon></button>
          <button mat-button class=iconsize><mat-icon>arrow_drop_down</mat-icon></button>
       </div>
  </mat-toolbar-row>
</mat-toolbar>

