<!-- <div fxLayout="column" fxLayoutAlign="start stretch"  > -->

<!-- <app-dash-board (eventClicked)="childEventClicked($event)" >
  </app-dash-board> -->

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <div fxLayoutAlign="start center" fxFlex="1 1 20%">
             <button mat-button (click)=sidenav.toggle() > <!-- (click)="onClick()" -->
                <mat-icon>menu</mat-icon>
              </button>
            <span> Fundoo Notes</span>
          </div>
            <div fxFlex="1 1 80%" fxLayoutAlign="end stretch" fxLayoutGap.xs="1px"> 
              <button mat-icon-button><mat-icon>refresh</mat-icon></button>
              <button mat-icon-button ><mat-icon>view_agenda </mat-icon></button>
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>Setting</button>
                  <button mat-menu-item>SendFeedBack</button>
                  <button mat-menu-item>Help</button>
                  </mat-menu> 
              <button mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>arrow_drop_down</mat-icon></button>
              <mat-menu #menu2="matMenu">
                   <button mat-menu-item>SignOut</button>
             </mat-menu>
             <button class ="oo" mat-icon-button >P</button>
           </div>
      </mat-toolbar-row>
    </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-sidenav-container style="margin-top:70px;"class="example-container"  >
    <mat-sidenav #sidenav  class="example-sidenav" mode="side"  disableClose >
       <mat-action-list>
          <button mat-list-item> Notes </button>
          <button mat-list-item> Remainder </button>
          <mat-divider ></mat-divider>
          <h6 style="font-size:65%;" matSubheader >LABELS</h6>
          <button mat-list-item> Edit Labels </button>
          <mat-divider></mat-divider>
          <button mat-list-item> Archive </button>
          <button mat-list-item> Trash </button>             
       </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <div fxLayout="column wrap" fxLayoutAlign="center center" fxFlexFill> -->
            
                    <router-outlet >

                    </router-outlet>  
         
        <!-- </div>  -->
      </mat-sidenav-content>
   </mat-sidenav-container>
<!-- <app-side-nav  [value]="clickedEvent"   fxLayoutAlign="start stretch" fxFlex="1 1 82%"> -->

<!-- </app-side-nav> -->
  
<!-- </div> -->