.example-container {
    min-width: 1300px;
      min-height: 600px;
    border: 0px solid rgba(255, 255, 255);
  }

  .example-sidenav{
    width:20%;
     position:fixed; 
     margin-top: 4%;
  }
  mat-toolbar {
    position: fixed;
    z-index: 100;
    background-color: lightslategray;
    border-left-color: black;
}

.f{
  color:blue;
}
.u{
  color:red;
}
.n{
  color:purple;
}
.d{
  color:blue;
}
.o1{
  color:green;
}
.o2{
  color:red;
}
.full_length{
  
  width:100%;

}

.search_design{
  
}

.example-header-image {
    background-image: url('../../../assets/profilepic.jpg');
    background-size: 100%
}

.hoverhighlight:hover{
  background-color:lightgoldenrodyellow;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.labelicon{
  background-image: url('../../../assets/tag.svg');

}

#left{
  float:left;
  width: 35%;
  height: 100%;
}

#right{
  float:right;
  width: 65%;
  height: 100%;
}
.example-card
{
  width:250px;
  height: 100px;
  
}

.profile{
  width: 70px;
  height: 70px;
}
.example-card{

  border: none;
  background-color: darkgrey;
}

.menuborder{
  
  overflow: hidden !important;
  border: none;
  max-width: none !important;

}
