.example-container {
    min-width: 1300px;
      min-height: 600px;
    border: 0px solid rgba(255, 255, 255);
  }

  mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
}