  <div fxLayout="column">
    <div> 
  <mat-toolbar  style="margin-left:-1%;margin-right:-1%;margin-top:-1%;">
    <mat-toolbar-row>
        <div fxLayoutAlign="start center" fxFlex="1 1 15%">
             <button mat-button (click)=sidenav.toggle() > <!-- (click)="onClick()" -->
                <mat-icon>menu</mat-icon>
              </button>
              <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" width="40" height="40" alt="" style="margin-inline-end: 5%">
            <span class="f"> F<span class="u">u<span class="n">n<span class="d">d<span class="o1">o<span class="o2">o</span></span></span></span></span></span>
          </div>
          <div  fxLayoutAlign="start center" fxFlex="1 1 65%">
               <mat-form-field class="full_length">
                 <mat-icon>search</mat-icon>
                  <input style="margin-left: 5%" class ="search_design" matInput [ngModel]="mySearch"  (ngModelChange)=searchHandler($event)>
                </mat-form-field> 
          </div>
            <div fxFlex="1 1 20%" fxLayoutAlign="flex-end stretch"> 
              <button mat-icon-button matTooltip="Refresh"><mat-icon>refresh</mat-icon></button>
              <button mat-icon-button matTooltip="View" (click)="changeView()"><mat-icon *ngIf="show">view_stream</mat-icon><mat-icon *ngIf="!show">view_column</mat-icon></button>
              <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Setting"><mat-icon>settings</mat-icon></button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item  >Setting</button>
                          <button mat-menu-item>SendFeedBack</button>
                          <button mat-menu-item>Help</button>
                      </mat-menu> 
             <button  mat-icon-button  [matMenuTriggerFor]="menu3"><mat-icon>account_circle</mat-icon></button>
             <mat-menu #menu3="matMenu" class="menuborder">
                <ng-template matMenuContent>
                <mat-card class="example-card">
                    <mat-card-header >
                        <div mat-card-avatar class="profile" (click)="ProfileSelect()" >
                          <img mat-card-avatar class="profile" src="http://localhost:8080/api/user/imageget/{{profilePic}}"/>  
                        </div>
                        <mat-card-title>Himanshu Prajapati</mat-card-title>
                        <mat-card-subtitle>himanshu00096@gmail.com</mat-card-subtitle>
                    </mat-card-header>
                  <mat-card-content>
                    <button style="float:right" mat-raised-button (click)="signout()">SignOut</button>
                   
                </mat-card-content>
                </mat-card>
              </ng-template>
             </mat-menu>
           </div>
      </mat-toolbar-row>
    </mat-toolbar>
</div>
<div fxFlex="90%">
  <mat-drawer-container style="margin-top: 5%;" class="example-container" >
    <mat-drawer #sidenav  class="example-sidenav" mode="side"  disableClose>
       <mat-action-list >
          <button class= "hoverhighlight" mat-list-item routerLink="notes" routerLinkActive="active"> <mat-icon>lightbulb_outline</mat-icon> <i style="margin: 5%;"></i> Notes </button>
          <button class= "hoverhighlight" mat-list-item> <mat-icon>notifications_none</mat-icon><i style="margin: 5%;"></i> Remainder </button>
          <mat-divider ></mat-divider>
          <h6 style="font-size:65%;" matSubheader >LABELS</h6>
          <mat-list>  
           <mat-list-item class= "hoverhighlight" *ngFor = "let lb of labelsall"> <!--  routerLink="/forgot" -->
            <button  routerLink="/home/labels/{{lb.labelName}}" routerLinkActive="active">
              <mat-icon>label_outline</mat-icon>
              <i >  
                  {{lb.labelName}}
              </i>
            </button>
            
            </mat-list-item>  
          </mat-list>
          <button class= "hoverhighlight" mat-list-item (click)="EditLabelDialog()"><img style="width:20px;height:20px;" src="../../../assets/icons8-edit.svg"><i style="margin: 5%;"></i> Edit Labels </button>
          <mat-divider></mat-divider>
          <button class= "hoverhighlight" mat-list-item routerLink="archive" routerLinkActive="active"><mat-icon>archive</mat-icon><i style="margin: 5%;"></i> Archive </button>
          <button class= "hoverhighlight" mat-list-item routerLink="trash" routerLinkActive="active"><mat-icon>delete</mat-icon> <i style="margin: 5%;"></i>Trash </button>             
       </mat-action-list>
    </mat-drawer>

    <mat-drawer-content>
                    <router-outlet>

                    </router-outlet>  
      </mat-drawer-content>
   </mat-drawer-container>
   </div>
   </div>
