.example-container {
    min-width: 1300px;
      min-height: 600px;
    border: 0px solid rgba(255, 255, 255);
  }

  .example-sidenav{
    width:200px;
  }
  mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
    color:black;
}

.f{
  color:blue;
}
.u{
  color:red;
}
.n{
  color:purple;
}
.d{
  color:blue;
}
.o1{
  color:green;
}
.o2{
  color:red;
}
.full_length{
  
  width:100%;

}

.search_design{
  
}

.example-header-image {
    background-image: url('../../../assets/profilepic.jpg');
    background-size: cover;
    background-size: 100%
}

