<div fxLayout="row" fxLayoutGap="10px">
    <div >

    </div>

<div  fxLayout="column"  fxLayoutGap="20px">

    <div fxLayoutAlign="center start">
            <app-notebar >

            </app-notebar>

    </div>
            <div  fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="15px grid">
            <!-- flexLayout="row wrap" fxLayoutGap="10px"> -->

                <div *ngFor="let note of allnotes" >
                    
                    <app-singlecard  [notedetails]=note >

                    </app-singlecard>
                </div>

            </div>
</div>

</div>