<div fxFlex>
    <div flexLayout="column"
     fxLayoutGap="15px" >
     <!-- fxLayoutAlign="center"> -->
        <div class="note-bar">
            <app-notebar>

            </app-notebar>
        </div>

        <div>


            <div >
            <!-- flexLayout="row wrap" fxLayoutGap="10px"> -->

                <div fxLayout="row" fxLayoutAlign="center start" class="gapfrom">
                    
                    <app-singlecard *ngFor="let note of allnotes" [notedetails]=note class="single-card" >

                    </app-singlecard>
                </div>

            </div>
        </div>
    </div>
</div>