.inputclass{

    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
  }


.takeanote{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
    max-height: 400px;
    overflow-y: auto; 
}

.cardresize{
    max-width: 200px;
    max-height: 250px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.color1{
   color:yellow;
}

.seprate{
    background-color: rgba(217, 217, 217,.5);
    border-radius: 8px;
    padding: 2px 5px 2px;
    margin-left: 2px;

}

.wrap_word{

    overflow:inherit;

}

.sharedperson{
    background-image: url('../../../assets/profilepic.jpg');
    background-size: cover;
    background-size: 100%
}

.hah{
   
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    max-width: 250px;
    margin-bottom: -16px;
}

.subtitlemargin{
    margin-top:-20px; 
}

.marginremove{
    margin-top:-10%;
    
}

/* .marginremove:hover{
    margin-top:-10%;
} */

.inputnotshow{
    display: none;
}

marginremove:hover{
    
}






