.inputclass{

    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
  }


.takeanote{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
    max-height: 400px;
    overflow-y: auto; 
}

.cardresize{

    min-width: 150px;
    max-width: 300px;
    /* min-height:100px; */
}

.color1{
   color:yellow;
}

.seprate{
    background-color: rgba(217, 217, 217,.5);
    border-radius: 8px;
    padding: 2px 5px 2px;
    margin-left: 2px;

}

.wrap_word{

    overflow:inherit;

}

