<mat-card class ="cardresize" [style.backgroundColor]="notedetails.color" ><!-- -->
    <mat-card-title (click)="dostuff()">	
        <p>{{notedetails.title}}</p> 
    </mat-card-title>

    <mat-card-subtitle (click)="dostuff()">
       <pre>{{notedetails.content}}</pre>   
    </mat-card-subtitle>

    <mat-card-footer >	                         
            <div fxLayout="row" >
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          add_alert
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          person_add
                       </mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menucolor"> <!--*ngFor="let note of allnotes" -->
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          palette
                       </mat-icon>
                    </button>
                      <mat-menu #menucolor="matMenu">
                        <mat-list>
                           <div *ngFor= "let colorx of colors">
                              <span *ngFor="let singlecolor of colorx">
                                 <button mat-icon-button (click)="colorchange(singlecolor)">
                                 <mat-icon  [style.color]="singlecolor">fiber_manual_record</mat-icon>
                                    <!-- <i style="color:${{singlecolor}}">{{singlecolor}} </i> -->
                                 </button>
                              </span>
                        </div>
                        </mat-list>
                     </mat-menu>  
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          add_photo_alternate
                       </mat-icon>
                    </button>
                    <button mat-icon-button (click)="archivenote()">
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          archive
                       </mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu1">
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          more_vert
                       </mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu">
                     <button mat-menu-item (click)="noteDelete()">Delete Note</button>
                     <button mat-menu-item>Add Label</button>
                     </mat-menu> 
                    
                 </div>


                </mat-card-footer>	                    
</mat-card>