.inputclass{

    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
  }


.takeanote{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
    max-height: 400px;
    overflow-y: auto; 
}

.cardresize{
    max-width: 200px;
    max-height: 350px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.color1{
   color:yellow;
}

.seprate{
    background-color: rgba(217, 217, 217,.5);
    border-radius: 8px;
    padding: 2px 5px 2px;
    margin-left: 2px;

}

.wrap_word{

    word-wrap: break-word; 
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;

}

.sharedperson{
    background-image: url('../../../assets/profilepic.jpg');
    background-size: cover;
    background-size: 100%
}

.hah{
   
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    max-width: 250px;
    margin-bottom: -16px;
}

.subtitlemargin{
    margin-top:-20px; 
}

.inputnotshow{
    display: none;
}

.marginremove{
    margin-top: -5%;
}

::ng-deep .chipsize{
    size: 5%;
    /* background-color: aliceblue; */
    /* border-style: solid; */
    /* border-radius: 30%; */
    /* border-color: aliceblue; */
    margin-bottom: 5%; 
    margin-left: 20%; 
}

::ng-deep .custom{
    min-width: 300px;
    background-color: beige;
}



