<mat-card class ="cardresize" >
    <mat-card-title>	
        <p >{{notedetails.title}}</p>
    </mat-card-title>
    <mat-card-subtitle>
       <p>
         {{notedetails.content}}
         </p>
    </mat-card-subtitle>

    <mat-card-footer >	                         
        
            <div fxLayout="row" >
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          add_alert
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          person_add
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          palette
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          add_photo_alternate
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          archive
                       </mat-icon>
                    </button>
                    <button mat-icon-button>
                       <mat-icon aria-label="Example icon-button with a heart icon">
                          more_vert
                       </mat-icon>
                    </button>
                    
                 </div>


                </mat-card-footer>	                    
</mat-card>