.example-card {
  max-width: 300px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  background-image: url('/home/administrator/Downloads/img3.jpeg'); 

background-size: cover;
}